.navbar {
  width: 100%;
}
.search-error {
  position: absolute;
  background: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  top: 100%;
  right: 0;
  font-size: 0.8rem;
  color: red;
  white-space: nowrap;
  z-index: 5;
}
.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}
